body {
  font-size: 0.5em;
  font-family: sans-serif;
  font-family: 'Arial', sans-serif;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  clear: both;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

.total {
  font-weight: bold;
}

.header-left {
  float: left;
  width: 20em;
}

.header-right {
  width: 50%;
  float: right;
  text-align: right;
}

.header-center {
  padding-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  align-content: center;
  float: center;
  clear: both;
}

#header-image {
  float: left;
  clear: both;
  margin-top: -35%;
  margin-left: 15%;
  width: 20em;
  height: 6em;
}

th {
  word-wrap: break-word;
  background-color: lightgray;
}

.footer {
  border: none;
}

h1, h2, h3 {
  text-transform: uppercase;
}

p, h1, h2, h3 {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.name {
  text-align: left;
  padding-left: 0.5%;
}

/* Fix snappy header */
thead {
  display: table-header-group
}
tfoot {
  display: table-row-group
}
tr {
  page-break-inside: avoid
}

@media print{
  body {
    margin-top:0 !important;
  }
}